// component.help-article.scss
@import "_config";

$color: $headline_color;

.help-article__title,
.help-article__sub-title {
  text-rendering: optimizeLegibility;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 2rem;
  color: $color;

  @include clearAfter;

  @include phablet_landscape_and_bigger {
    font-size: 2rem;
  }

  a,
  a:hover {
    color: $color;
    text-decoration: none;
  }
}
.help-article__title {
  font-size: 1.5rem;
}
.help-article__sub-title {
  font-size: 1.125rem;
}
