.label {
  background: #ddd;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 10px;
}

.label--pre-version-requirement {
  background: #5B3F67;
  color: #fff;

  display: none;
}
