@import "_config";

// light-border and text color
$color_regular_prod: lighten($color_dark_prod, 20%);
$color_regular_prod_outdated: lighten($color_dark_prod_outdated, 20%);
$color_regular_not_prod: lighten($color_dark_not_prod, 20%);
$color_regular_not_prod_outdated: lighten($color_dark_not_prod_outdated, 20%);

// backgrounds
$color_light_prod: #EAFFEA;
$color_light_prod_outdated: lighten($color_dark_prod_outdated, 40%);
$color_light_not_prod: lighten($color_dark_not_prod, 40%);
$color_light_not_prod_outdated: lighten($color_dark_not_prod_outdated, 42%);

.dep {
  border: 1px solid #fff;
  border-radius: 3px;
}
.dep:after {
  content: "";
  display: block;
  clear: both;
}
.dep .text {
  font-size: 12px;
  color: #aaa;
  display: block;
}
.dep__inner a {
  color: $implicit_link_color;
}

.dep--prod {
  &.dep--outdated {
    .dep__inner,
    .dep__description {
      border-left: 3px solid $color_dark_prod_outdated;
      background: $color_light_prod_outdated;
    }
    .dep__package-info {
      border-left: 3px solid $color_regular_prod_outdated;
      background: $color_light_prod_outdated;
    }
    .package-info {
      border-top-color: $color_regular_prod_outdated;
    }
  }
}
.dep--not-prod {
  &.dep--outdated {
    .dep__inner,
    .dep__description {
      border-left: 3px solid $color_dark_not_prod_outdated;
      background: $color_light_not_prod_outdated;
    }
    .dep__package-info {
      border-left: 3px solid $color_regular_not_prod_outdated;
      background: $color_light_not_prod_outdated;
    }
    .package-info {
      border-top-color: $color_regular_not_prod_outdated;
    }
  }
}

.dep--prod {
  &.dep--not-outdated {
    .dep__inner,
    .dep__description {
      border-left: 3px solid $color_dark_prod;
    }
    .dep__package-info {
      border-left: 3px solid $color_regular_prod;
    }
    .package-info {
      border-top-color: $color_regular_prod;
    }
  }
}
.dep--not-prod {
  &.dep--not-outdated {
    .dep__inner,
    .dep__description {
      border-left: 3px solid $color_dark_not_prod;
    }
    .dep__package-info {
      border-left: 3px solid $color_regular_not_prod;
    }
    .package-info {
      border-top-color: $color_regular_not_prod;
    }
  }
}

.dep--use_lock_file {
  &.dep--outdated {
    .dep__locked {
      color: $color_dark_prod_outdated;
    }
  }
}

.dep--not-use_lock_file {
  .dep__locked {
    visibility: hidden;
  }

  &.dep--outdated {
    .dep__requirement {
      color: $color_dark_prod_outdated;
    }
  }
}

.dep--not-outdated {
  &.dep--expanded,
  &:hover {
    background: $color_light_prod;
  }
  .dep__requirement {
    color: $color_dark_prod;
  }
}

.dep__inner {
  padding: 10px;
  @include clearAfter;
}
.dep__description {
  padding: 0 10px 10px 10px;
}

.dep__env {
  padding: 4px;
  border-radius: 4px;
}
.dep--not-outdated {
  .dep__env--not-prod {
    background: $color_dark_not_prod;
    color: #fff;
  }
  .dep__env--prod {
    background: $color_dark_prod;
    color: #fff;
  }
}
.dep--outdated {
  .dep__env--not-prod {
    background: $color_dark_not_prod_outdated;
  }
  .dep__env--prod {
    background: $color_dark_prod_outdated;
    color: #fff;
    font-weight: bold;
  }
}

.dep__title,
.dep__meta,
.dep__requirement,
.dep__locked,
.dep__latest,
.dep__status {
  float: left;
}
.dep__requirement,
.dep__locked,
.dep__latest,
.dep__status {
  text-align: left;
}
.dep__title {
  width: 100%;
  min-width: 220px;
  a {
    font-size: 26px;
  }
}
.dep__github-link {
  &:hover {
    text-decoration: none;
  }
  .icon-octopus {
    font-size: 32px;
  }
}
.dep__meta {
  width: 100%;
  min-width: 220px;
}
.dep__requirement,
.dep__locked,
.dep__latest,
.dep__status {
  width: 24%;
  margin-right: 1%;
}
.dep__requirement-not-matching-latest {
  color: $color_version_not_matching;
}
.dep__package-info {
  padding: 0 10px;
  @include clearAfter;
}
.package-info {
  border-top: 1px solid $color_regular_prod_outdated;
  padding: 10px 0;
}

@include phablet_landscape_and_bigger {
  .dep__title {
    width: 40%;
    min-width: 220px;
  }
  .dep__meta {
    width: 60%;
    min-width: 220px;
  }
  .dep__meta {
    float: right;
  }
  .dep__requirement,
  .dep__locked,
  .dep__latest,
  .dep__status {
    text-align: right;
  }
}
